.home__container {
  background: url("https://img5.goodfon.com/wallpaper/nbig/f/82/anime-devushki-derevia-shkolnaia-forma.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: none;
}
