.roadmap__container {
  width: 100vw;
  height: 100vh;
  background: url("https://wallpaperaccess.com/full/1920902.jpg");
  background-size: cover;
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.checkpoint {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
